<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Love Is Dead Game</title>
</head>
<body>
    <main id ="wrapper">
        <h1 class="hidden">Main Wrapper</h1>

<!--         HERO BEGINS HERE        -->

        <header id="hero">
            <h2 class="hidden">Hero Header Section</h2>

            <!--         MAIN NAV BEGINS HERE        -->

            <nav id="main-nav">
                <h2 class="hidden">Main Navigation Section</h2>
                <section id="logo">
                    <h3 class="hidden">Love is Dead logo</h3>
                    <img src="/images/LID_full_logo.svg" alt="Love is Dead Logo">
                </section>
            </nav>
        </header>
        <header id="hero-tagline">
            <h2 class="hidden">Hero Tagline</h2>
            <h1>Love is Dead</h1><br><h2>zombie puzzle adventure</h2>
        </header>

        <section id="about">
            <h2 class="hidden">About Section</h2>
            <section id="about-1">
                <h3 class="hidden">About 1 Promo Image</h3>
                <article id="about-1-img">
                    <img src="/images/ISHSTcont1_03.png" alt="About Love is Dead">
                </article>
                <article id="about-1-txt">
                    <h3 class="hidden">About 1 Body</h3>
                    <h2>i saw her standing there...</h2>
                    <p><i>Love is Dead</i> is an action/puzzle game about love, death, pets, and pancakes. You and your lover are on a world-spanning mission to find your lost pets. Explore graveyards, cities, jungles, and beyond.<br><br>
                    Spritual successor to the i saw her Flash game series that won the 2014 Canadian Videogame Awards’ Best Casual Game.</p>
                </article>
            </section>
            <section id="about-2">
                <h3 class="hidden">About 2 Promo Image</h3>
                <article id="about-2-img">
                    <img src="/images/ISHSTcont2_03.png" alt="About Love is Dead">
                </article>
                <article id="about-2-txt">
                    <h3 class="hidden">About 2 Body</h3>
                    <h2>...but then she was a zombie</h2>
                    <p>
                        <ul>
                            <li><p>Hundreds of lovingly hand-crafted levels set in 7 distinct environments</p></li>
                            <li><p>Single player or local co-op, for those with a friend or sweetie</p></li>
                            <li><p>Secrets and unlockables in a world brimming with discovery</p></li>
                            <li><p>Beautiful toony art and music come alive in a bouncy world</p></li>
                            <li><p>New story from the i saw her series</p></li>
                        </ul>
                    </p>
            </section>
        </section>

        <section id="video">
            <h2 class="hidden">LID Promo Video Section</h2>

            <section id="buy">
            <h3 class="hidden">Buy LID Section</h3>
                <iframe src="http://store.steampowered.com/widget/453910/" frameborder="0"></iframe>
            </section>
        </section>

        <footer id="footer">
            <h2 class="hidden">Footer section</h2>
            <p>Love is Dead brought to you by</p><br><a href="http://curiobot.com/" alt="Go to Curiobot Website" target="_blank">
            <img src="/images/sm_curiobot_07.png" alt="curiobot logo"></a>
        </footer>

    </main>

    <script src="js/main.js"></script>
</body>
</html>